.bg-blue-1 {
  background-color: #a2d2ff;
}
.bg-blue-2 {
  background-color: #90f1ef;
}
.bg-blue-3 {
  background-color: #bde0fe;
}
.bg-green-1 {
  background-color: #7bf1a8;
}
.bg-green-2 {
  background-color: #c1fba4;
}
.bg-yellow {
  background-color: #ffef9f;
}
.bg-pink-1 {
  background-color: #ffafcc;
}
.bg-pink-2 {
  background-color: #ffd6e0;
}
.bg-pink-3 {
  background-color: #ffc8dd;
}
.bg-purple {
  background-color: #cdb4db;
}
tr th {
  background-color: #ffffff00 !important;
}
tr td {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
table {
  table-layout: auto; /* Garante que todas as colunas tenham o mesmo tamanho */
  word-wrap: break-word !important;
}
.modal-backdrop {
  display: none !important;
}

.radio-consignado {
  background-color: #f1c40f;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

input[type="radio"]:checked + label {
  background-color: #f39c12;
}

.w-12{
  width: 12% !important;
}

.w-10 {
  width: 10% !important;
}

.w-5 {
  width: 5% !important;
}

input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
  
}
input[type=number] { 
 -moz-appearance: textfield;
 appearance: textfield;

}